.topbarContainer {
  height: 50px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.topbarLeft {
  flex: 5;
  margin-left: 2%;
  margin-top: 2%;
  display: flex;
}

.logo {
  width: 54px;
  height: 32px;
}

.searchbar {
  width: 50%;
  height: 30px;
  background-color: #eafaf6;
  box-shadow: 0px 0px 4px rgb(179, 179, 179);
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin-left: 3%;
}

.searchIcon {
  font-size: 20px !important;
  margin-left: 10px;
}

.searchInput {
  border: none;
  width: 70%;
  background-color: #eafaf6;
}

.searchInput:focus {
  outline: none;
}

.topbarRight {
  flex: 7;
  width: 50%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #1fb299;
  box-shadow: 0px 2px 10px rgb(192, 192, 192);
  border-radius: 30px;
  margin-top: 2%;
  margin-right: 10%;
}

.topbarIcons {
  display: flex;
}

.topbarIconItem {
  margin-right: 15px;
  cursor: pointer;
  position: relative;
}

.topbarIconBadge {
  width: 15px;
  height: 15px;
  background-color: red;
  border-radius: 50%;
  color: white;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
